<?xml version='1.0'?>
<model>
  <name>Fasanengarten_Parking_Garage</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Philip Schoerner</name>
    <email>schoerner@fzi.de</email>
  </author>

  <description>The </description>

  <depend>
    <model>
      <uri>model://cvs_ros_camera</uri>
      <version>1.0</version>
    </model>
  </depend>

</model>
